<ion-header>
  <ion-toolbar>
    <ion-title>Themes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list  lines="none">
        <ion-item *ngFor="let theme of themes">
            <ion-item>
            <ion-label (click)="themeDetails(theme.id)" >{{theme.id}}. {{theme.name}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-checkbox [(ngModel)]="theme.active" disabled="true"></ion-checkbox>
            </ion-item>
        </ion-item>
    </ion-list>

    <ion-item  lines="none">  
      <ion-button (click)="addTheme()">Add Theme</ion-button>
    </ion-item>

</ion-content>
