<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-list>
  <ion-item>
    <ion-label  (click)="navigateToTrip()">Trips</ion-label>
  </ion-item>
  <ion-item>
    <ion-label (click)="navigateToTheme()">Themes</ion-label>
  </ion-item>
  <ion-item>
    <ion-label (click)="navigateToDestination()">Destinations</ion-label>
  </ion-item>
  <ion-item>
    <ion-label (click)="navigateToResource()">Resources</ion-label>
  </ion-item>
</ion-list>

<ion-content padding>

</ion-content>
